:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;


  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  --color-light: white;
  --color-dark:rgb(53, 53, 53);
  --color-dark-medium:rgb(77, 77, 77);
  --color-grey: rgb(97, 97, 97);
  --color-light-placeholder: rgb(204, 204, 204);
  --color-main: #3b946d;
  --color-main-light: #3a7c60;
  --color-red: #ab4444;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2rem;
  letter-spacing: 1px;
  color: var(--color-light);
  background-color: var(--color-grey);
  width: 100%;
}

.editor {
  overflow-y: auto;
  height: 1150px;
  width: fit-content;
}

h1 {
  font-size: 2.2em;
  color: var(--color-main);
  line-height: 1.1;
  background-color: var(--color-dark);
  margin: 1rem;

  text-overflow: clip;
}

form h2 {
  margin: 0px 0px 2rem 0px;
}

form {
  background-color: var(--color-dark);
  padding: 2rem;
  margin: 1rem 3rem;
  border: var(--color-light) 2px solid;
  border-radius: 1rem;
  box-shadow: var(--color-dark) 0px 0px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
  min-width: 300px;
}

.form-row {
  margin: .4rem .2rem;
  padding: 0px .0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


form label{
  margin-right: 1rem;
  min-width: fit-content;
}

form input,
#description {
  border-radius: .3rem;
  border: var(--color-grey) 2px solid;
  background-color: var(--color-grey);
  padding: .4rem;
  color: var(--color-light);
  width: 70%;
  letter-spacing: 1px;
  resize: none;
}

input:focus,
#description:focus {
  outline: none;
  color: var(--color-light);
  border: var(--color-main) 2px solid;
  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  padding: .4rem;
  margin-top: 2rem;
}

button {
  display: flex;
  justify-content: center;
  width: 180px;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: .3rem;
  letter-spacing: .1rem;
  font-size: 1rem;
  padding: .6rem 15%;
  margin: 0rem 1rem;

  color: var(--color-light);
}

.deleteBtn {
  background-color: var(--color-dark);
  border: var(--color-red) 2px solid;
}

.deleteBtn:hover {
  background-color: var(--color-red);
}
.addBtn {
  background-color: var(--color-dark);
  border: var(--color-main) 2px solid;
}
.addBtn:hover {
  background-color: var(--color-main);
}


.dates {
  display: flex;
}

.dates .form-row {
  width: fit-content;
}

.dates label{
  margin: 0px 1rem
}

.dates input {
  max-width: 130px;
}

/* Skills */

.form-row img {
  width: 2rem;
  border-radius: .4rem;
  background-color: var(--color-main-light);
  margin: 0px 1rem;
}

.form-row img:hover {
  background-color: var(--color-main);
}

.skillsRow {
  max-width: 75%;
  align-self: center;
}


.skillsList,
.categoryList {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  max-width: inherit;
  border: var(--color-main-light) 2px solid;
  border-radius: .4rem;
  width: 100%;
  padding: .5rem;
  margin-top: 1rem;
}

/* Category + adds Categories. Show category list. */
/* Skills + adds Skills. Show skills list.  */
/* Cat/Skills can be edited in the cat/skills list respectively */
/* Will change dynamically on preview. */

.skillsList h3,
.categoryList h3 {
  width: 100%;
  margin: 1rem;
}
.skillsListItem,
.categoryListItem {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  background-color: var(--color-main-light);
  padding: .5rem 1rem;
  margin: .5rem;
  letter-spacing: normal;
}
.skillsListItem img,
.categoryListItem img{
  height: 1.5rem;
  filter: invert(100%);
  margin-left: 1rem;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: .4rem;
}

.skillsListItem, 
.categoryListItem img:hover {
  border: var(--color-dark) 2px solid;
}

/* CV Preview */

.application {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;

}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark);
  box-shadow: var(--color-dark) 0px 0px 15px;
}

.cvPreviewBody{
  display: flex;
  justify-content: center;
}

.cvPreview {
  color: var(--color-grey);

  padding: 3rem;
  background-color: var(--color-light);
  box-shadow: var(--color-dark) 0px 0px 15px;
  margin: 3rem;

  width: 630px;
  height: 880px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 34fr;
  grid-gap: 1rem;
}

/* Bio preview */

.bioPreview{
  grid-column: 1/3;
  grid-row: 1/1;

  display: flex;
  justify-content: space-between;
}

.nameTitle {
  flex-grow: .7;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.nameTitle h1 {
  margin: .5rem 0px;
  font-size: 2.5rem;
  font-weight: 600;
  background-color:var(--color-light);
  letter-spacing: 6px;

  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: clip; */
  /* text-overflow: clip;
  transition: font-size 0.3s; */
}

.nameTitle h2 {
  color: var(--color-dark-medium);
  letter-spacing: 4px;
  font-weight: 400;
  margin: 0px;
}

.contactInfo {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contactInfo p {
  margin: 0px;
  font-size: .9rem;
  line-height: 1.4rem;
}

/* Education Preview */

.educationPreview{
  grid-column: 1/2;
  grid-row: 2/3;
}

.dateInfo {
  display: flex;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: .9rem;
}

.cvPreview h3 {
  letter-spacing: 4px;
  color: var(--color-main);
  font-size: 1.2rem;
  margin: .5rem 0rem;
}

.subtitle {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: .9rem;
}

img .form-row:focus {
  border: blue solid 2px;
}

/* .degree {
  margin: 0px .5rem;
} */

.startDate,
.endDate,
.dates {
  margin: 0rem .4rem;
}

.cvPreview ul {
  padding-left: 1.2rem;
  margin: .5rem 0rem;
}

.cvPreview li {
  font-size: .8rem;
  line-height: 1.2rem;
  margin: 4px 0px;
  flex-wrap: wrap;
}

.experiencePreview {
  grid-column: 1/2;
  grid-row: 3/4;

  display: flex;
  flex-direction: column;
  justify-content:baseline;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}

#description {
  width: 97%;
}

#description::placeholder {
  color: var(--color-light-placeholder);
}



.skillsPreview {
  grid-column: 2/3;
  grid-row: 2/4;
}

.skillsPreview li {
  margin: 6px 0px;
}

.skillsPreview .subtitle {
  margin-top: 1rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
