:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  --color-light: white;
  --color-dark:#353535;
  --color-grey: rgb(97, 97, 97);
  --color-main: #44ab7f;
  --color-main-light: #3a7c60;
  --color-red: #ab4444;
}

body {
  margin: 0;
  padding: 1rem;
  line-height: 30px;
  letter-spacing: .1rem;
  color: var(--color-light);
  background-color: var(--color-dark);
}

h1 {
  font-size: 2.2em;
  color: var(--color-main);
  line-height: 1.1;
  background-color: var(--color-dark);
  margin: 1rem;
}

form h2 {
  margin: 0px 0px 2rem 0px;
}

form {
  background-color: var(--color-dark);
  padding: 2rem;
  margin: 2rem;
  border: var(--color-light) 2px solid;
  border-radius: 1rem;
  box-shadow: var(--color-dark) 0px 0px 15px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 500px;
  width: 100%;
  min-width: 350px;
}

.form-row {
  margin: .4rem .2rem;
  padding: 0px .0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


form label{
  margin-right: 1rem;
  min-width: fit-content;
}

form input{
  border-radius: .3rem;
  border: var(--color-grey) 2px solid;
  background-color: var(--color-grey);
  padding: .4rem;
  color: var(--color-light);
  width: 70%;
  letter-spacing: 1px;
}

input:focus {
  outline: none;
  color: var(--color-light);
  border: var(--color-main) 2px solid;
  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  padding: .4rem;
  margin-top: 2rem;
}

button {
  display: flex;
  justify-content: center;
  width: 180px;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: .3rem;
  letter-spacing: .1rem;
  font-size: 1rem;
  padding: .6rem 15%;
  margin: 0rem 1rem;

  color: var(--color-light);
}

.deleteBtn {
  background-color: var(--color-dark);
  border: var(--color-red) 2px solid;
}

.deleteBtn:hover {
  background-color: var(--color-red);
}
.addBtn {
  background-color: var(--color-dark);
  border: var(--color-main) 2px solid;
}
.addBtn:hover {
  background-color: var(--color-main);
}

.dates {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.dates .form-row {
  width: fit-content;
}

.dates label{
  margin: 0px 1rem
}

.dates input {
  max-width: 130px;
}

/* Skills */

.form-row img {
  width: 2rem;
  border-radius: .4rem;
  background-color: var(--color-main-light);
  margin: 0px 1rem;
}

.form-row img:hover {
  background-color: var(--color-main);
}

.skillsRow {
  max-width: 75%;
  align-self: center;
}


.skillsList,
.categoryList {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  max-width: inherit;
  border: var(--color-main-light) 2px solid;
  border-radius: .4rem;
  width: 100%;
  padding: .5rem;
  margin-top: 1rem;
}

/* Category + adds Categories. Show category list. */
/* Skills + adds Skills. Show skills list.  */
/* Cat/Skills can be edited in the cat/skills list respectively */
/* Will change dynamically on preview. */

.skillsList h3,
.categoryList h3 {
  width: 100%;
  margin: 1rem;
}
.skillsListItem,
.categoryListItem {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  background-color: var(--color-main-light);
  padding: .5rem 1rem;
  margin: .5rem;
  letter-spacing: normal;
}
.skillsListItem img,
.categoryListItem img{
  height: 1.5rem;
  filter: invert(100%);
  margin-left: 1rem;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: .4rem;
}

.skillsListItem, 
.categoryListItem img:hover {
  border: var(--color-dark) 2px solid;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
